{% extends 'core/base.html' %}
{% load static %}

{% block conferencias %}
<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>Linux.Party->2018</h1>
            <h2>Fiesta Open Source, Linux y un invitado especial: Slimbook Computers</h2>
        </header>
        <p>Realizado en el espacio "Se Aceptan Ideas".</p> <p>15 de Septiembre del 2018, de 10:00 a 15:30 horas.</p>
        <p>Más de 170 participantes y 15 ponentes. Talleres, ponencias e InstallParty de Linux.</p> 
        <p>Diversas temáticas: ciberseguridad, hacking, blockchain, programación cuaántica y software libre.</p>
        <p> Participaron de su organización más de 12 comunidades.</p> 
        <ul class="actions">
            <li><a href="#" class="button big">Inicio</a></li>
        </ul>
    </div>
</section>

<!-- Section -->
<section>
    <header class="major">
        <h2>Fotos del Linux.Party->2018</h2>
    </header>
    <div class="posts">
        <article>
            <a href="#" class="image"><img src="images/conf/linux1.jpg" alt="" /></a>
            <h3>Linux.Party->2018.</h3>
            <p>15/09/2018</p>
        </article>
        <article>
            <a href="#" class="image"><img src="images/conf/linux2.jpg" alt="" /></a>
            <h3>Linux.Party->2018.</h3>
            <p>15/09/2018</p>
        </article>
        <article>
            <a href="#" class="image"><img src="images/conf/linux3.jpg" alt="" /></a>
            <h3>Linux.Party->2018.</h3>
            <p>15/09/2018</p>
        </article>
        <article>
            <a href="#" class="image"><img src="images/conf/linux4.jpg" alt="" /></a>
            <h3>Linux.Party->2018.</h3>
            <p>15/09/2018</p>
        </article>
        <article>
            <a href="#" class="image"><img src="images/conf/linux5.jpg" alt="" /></a>
            <h3>Linux.Party->2018.</h3>
            <p>15/09/2018</p>
            <ul class="actions">
                <li><a href="#" class="button">Inicio</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="images/conf/linux6.jpg" alt="" /></a>
            <h3>Linux.Party->2018.</h3>
            <p>15/09/2018</p>
            <ul class="actions">
                <li><a href="#" class="button">Inicio</a></li>
            </ul>
        </article>
    </div>
</section>
<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>Tech.Party->2019</h1>
            <h2>Una fiesta para compartir el conocimiento y el hacking inteligente</h2>
        </header>
        <p>Realizado en La Nave de Madrid.</p> <p>14 de Septiembre de 2019, de 09:00 a 21:0 horas.</p>
        <p>Más de 750 participantes y 95 ponentes. Talleres, Ponencias, InstallParty de Linux, Mesas redondas, Agoras y CTF.</p> 
        <p>Diversas temáticas: ciberseguridad, hacking, blockchain, programación, hardware, software libre, devops, legal tech, ciencia y temas sociales.</p>
        <p> Participaron de su organización más de 60 comunidades.</p> 
        <ul class="actions">
            <li><a href="#" class="button big">Inicio</a></li>
        </ul>
    </div>
</section>	
<!-- Section -->
<section>
    <header class="major">
        <h2>Fotos del Tech.Party->2019</h2>
    </header>
    <div class="posts">
        <article>
            <a href="#" class="image"><img src="images/conf/tech2.jpg" alt="" /></a>
            <h3>Tech.Party->2019 - InstallParty de ReutilizaK.</h3>
            <p>14/09/2019</p>
        </article>
        <article>
            <a href="#" class="image"><img src="images/conf/tech3.jpg" alt="" /></a>
            <h3>Tech.Party->2019.</h3>
            <p>14/09/2019</p>
        </article>
        <article>
            <a href="#" class="image"><img src="images/conf/tech4.jpg" alt="" /></a>
            <h3>Tech.Party->2019.</h3>
            <p>14/09/2019</p>
        </article>
        <article>
            <a href="#" class="image"><img src="images/conf/tech5.jpg" alt="" /></a>
            <h3>Tech.Party->2019.</h3>
            <p>14/09/2019</p>
        </article>
        <article>
            <a href="#" class="image"><img src="images/conf/tech10.jpg" alt="" /></a>
            <h3>Tech.Party->2019.</h3>
            <p>14/09/2019</p>
        </article>
        <article>
            <a href="#" class="image"><img src="images/conf/tech11.jpg" alt="" /></a>
            <h3>Tech.Party->2019.</h3>
            <p>14/09/2019</p>
        </article>
        <article>
            <a href="#" class="image"><img src="images/conf/tech6.jpg" alt="" /></a>
            <h3>Tech.Party->2019.</h3>
            <p>14/09/2019</p>
            <ul class="actions">
                <li><a href="#" class="button">Inicio</a></li>
            </ul> 
        </article>
        <article>
            <a href="#" class="image"><img src="images/conf/tech7.jpg" alt="" /></a>
            <h3>Tech.Party->2019.</h3>
            <p>14/09/2019</p>
            <ul class="actions">
                <li><a href="#" class="button">Inicio</a></li>
            </ul> 
        </article>
    </div>
</section>
{% endblock %}