{% extends 'core/base.html' %}
{% load static %}

{% block flaghunters %}
<!-- Content -->
<section>
    <header class="main">
        <h1>flagHunters Team</h1>
    </header>

    <span class="image main"><img src="images/bannerCTF.png" alt="" /></span>
    
    <hr class="major" />

    <h2>Objetivo</h2>
    <p>"flagHunters Team" es el equipo de HackMadrid %27 dedicado a competir y organizar CTF's presenciales y "online".</p>
    
    <hr class="major" />

    <h2>Proyectos</h2>
    <p>"flagHunters Developers" está abocado a desarrollar nuestra propia plataforma para CTF. Dicha plataforma será de código libre.</p>
    
    <hr class="major" />

    <h2>Capture the Flag</h2>
    <p>Capturar la bandera -CTF- es una competencia entre personas individualmente, o bien por equipos. La idea central es lograr experticia en "hackear" sistemas configurados con distintos niveles de dificultad.</p>
    <p>Existen diferentes modalidades de competencias, cada una orientada a "poner en prueba" determinadas habilidades y/o conocimientos. Las pruebas se basan en conseguir banderas. Estas banderas son una secuencia de caracteres que suele empezar siempre de la misma forma (por ejemplo, precedida por una palabra elegida por el organizador). En cada competición el organizador informará de cómo van a comenzar las suyas. Las pruebas pueden ser de criptografía, ingeniería inversa, explotación web, forenses, entre varias. El límite está en la imaginación del organizador del CTF.</p>
    <p>Se organizarán anualmente varios CTF presenciales y "online", que además puedan calificar para el torneo nacional anual. Uno de los objetivos es formar un equipo que represente a la comunidad de HackMadrid%27 en diferentes torneos, nacionales e internacionales.</p> 

    <hr class="major" />

    <h2>Workshops</h2>
    <p>Los talleres que se realizan están orientados a dotar de diferentes habilidades a los miembros del equipo, para todas las actividades de CTF's.</p>
    

    <hr class="major" />

    <h2>Formación</h2>
    <p>Trabajaremos regularmente con la plataforma Atenea del CCN-CERT, como un paso necesario y estimulante para la formación de los miembros del equipo de flagHunters.</p>

</section>
{% endblock %}