{% extends 'core/base.html' %}
{% load static %}

{% block hackerspace %}
<!-- Content -->
<section>
    <header class="main">
        <h1>Hackerspace: Aaron Swartz</h1>
    </header>

    <span class="image main"><img src="{% static 'core/images/aaron.png' %}" alt="" /></span>

    <hr class="major" />

    <h2>Nuestro Hackerspace</h2>
    <p>Hackmadrid tiene un hackerspace en la Nave de Madrid, un espacio adecuado para reunirse, realizar proyectos, talleres, clases de estudio y compartir información.</p>
    <p>Nuestro espacio es libre y abierto, funciona de Lunes a Sábado en el horario de 9:00 -> 21:00 y los Domingos de 9:00 -> 15:00.</p>
    <p>Por disposiciones de Seguridad de La Nave de Madrid es necesario pertenecer a la Comunidad de HackMadrid y registrar el nombre en theShadow@hackmadrid.org, para poder tener acceso permanente.</p>
    <p>Aceptamos donaciones: libros, dispositivos funcionando -routers, switches, computadores, impresoras-, mesas, escritorios y armarios.</p>

    <hr class="major" />

    <h2>Aaron Swartz</h2>
    <p>Nuestro hackerspace lleva el nombre en recuerdo de un "hacker" símbolo de la filosofía del Software Libre y el conocimiento compartido, cómo un derecho público.</p>
    <p>Aaron Hillel Swartz fue un programador, emprendedor, escritor y hacktivista de Internet. Desarrollador del formato de fuente web RSS y el formato de publicación Markdown, la organización Creative Commons, la infraestructura del sitio web "web.py". y el sitio web de marcadores sociales Reddit. Fue diseñador jefe del proyecto inicial de Open Library.
    En 2009 ayudó a lanzar el “Progressive Change Campaign Committee”. En 2010 fue miembro del Centro de Ética de la Universidad de Harvard. Cofundó además el grupo en línea Demand Progress (contra de la Ley SOPA). Más tarde cofundó el grupo internacional Rootstrikers y trabajó en la fundación Avaaz.
    El 6 de enero de 2011 Swartz fue arrestado bajo los cargos de fraude electrónico, fraude informático, entrada ilegal e imprudente a un ordenador protegido y daños, por haber conectado una computadora a la red del MIT y descargar publicaciones académicas automáticamente desde JSTOR, usando una cuenta de invitado que le proporcionó el mismo Instituto. Los fiscales le imputaron los cargos de fraude en línea y once violaciones al "Acta de Fraude y Abuso Computacional", exigiendo una pena de un millón de dólares y 35 años de prisión. 
    Abrumado, se suicidó mientras permanecía en calidad de acusado por robo de información, una persecución que es considerada como "el producto de un sistema criminal-judicial plagado de intimidación y enjuiciamientos excesivos".
    En junio de 2013, Swartz fue incluido póstumamente en el Salón de la Fama de Internet..</p>									
    
    <hr class="major" />

    <h2>Dirección y Horarios</h2>
    <p>La Nave de Madrid: </Taller:><a href="http://www.lanavemadrid.com/" target="_blank"> Website</a></p>
    <p>Dirección: Calle Cifuentes, 5, Nave Central piso 5to, 28021 Madrid</p>
    <p>Horarios: Lunes a Sábado de 9:00 -> 21:00, Domingos de 9:00 -> 15:00</p>

</section>
{% endblock %}