{% extends 'core/base.html' %}
{% load static %}

{% block objetivos %}
<section>
    <header class="main">
        <h1>Objetivos</h1>
    </header>

    <!-- Content -->
        <h2 id="content">Nuestro Objetivo</h2>
        <p>El objetivo es construir una comunidad activa y vibrante
         en torno a la cultura "hacking", dicha
         actividad cultural no se reduce a una cuestión
         técnica o de negocio, es basicamente un estilo
         de vida. La seguridad cibernética, la privacidad, el
         anonimato y la gestión crítica e inteligente de
         la información nos permite entender mejor los
         peligros y las trampas que trae escondida en su
         "mochila" la moderna sociedad digital. Nuestro objetivo es
         doble, por un lado adquirir el conocimiento técnico mediante el estudio y la
         investigación, como así también desarrollar una
         actitud ética y humana que nos permita, con la
         experiencia adquirida, ayudar a que el mundo
         sea un sitio mejor.</p>
        <p>Hemos creado un equipo para competir en CTF's
        nacionales e internacionales, cuyo nombre es flagHunters. 
        Los miembros de flsgHunters además de estudiar y
        entrenarse, participarán en la organización y
        preparación de todos los CTF's que realicemos a
        lo largo del año.</p>
        <h2 id="content">Los hackers escribieron:</h2>
        <div class="row">
            <div class="6u 12u$(small)">
                <h3>Norman Augustine</h3>
                <p>"El software es como la entropía: difícil de atrapar, no pesa, y cumple la Segunda Ley de la Termodinámica, es decir, tiende a incrementarse"</p>
            </div>
            <div class="6u$ 12u$(small)">
                <h3>Johan Manuel Mendez</h3>
                <p>"La tarea del hacker no es destruir, sino utilizar sus conocimientos en favor de la libertad y la igualdad social"</p>
            </div>
            <!-- Break -->
            <div class="4u 12u$(medium)">
                <h3>Eric Raymond</h3>
                <p> "Saber romper medidas de seguridad no hacen que seas hacker, al igual que saber hacer un puente en un coche no te convierte en un ingeniero de automoción"</p>
            </div>
            <div class="4u 12u$(medium)">
                <h3>Kevin Mitnick</h3>
                <p>"Las organizaciones gastan millones de dólares en firewalls y dispositivos de seguridad, pero tiran el dinero porque ninguna de estas medidas cubre el eslabón más débil de la cadena de seguridad: la gente que usa y administra los ordenadores"</p>
            </div>
            <div class="4u$ 12u$(medium)">
                <h3>Bruce Schneier</h3>
                <p>"Si piensas que la tecnología puede solucionar tus problemas de seguridad, está claro que ni entiendes los problemas ni entiendes la tecnología"</p>
            </div>
            <div class="4u 12u$(medium)">
                <h3>Linus Torvalds</h3>
                <p>"Sólo los débiles hacen copias de seguridad en cd´s, las personas de verdad suben sus cosas importantes a un ftp y permiten que el resto del mundo haga un mirror"</p>
            </div>
            <div class="4u 12u$(medium)">
                <h3>Richard Stallman</h3>
                <p>“Enseñar a los niños el uso de software libre en las escuelas, formará individuos con sentido de libertad“</p>
            </div>
            <div class="4u$ 12u$(medium)">
                <h3>John Von Neumann</h3>
                <p>"Podría parecer que hemos llegado a los límites alcanzables por la tecnología informática, aunque uno debe ser prudente con estas afirmaciones, pues tienden a sonar bastante tontas en cinco años"</p>
            </div>
            <div class="4u$ 12u$(medium)">
                <h3>Aaron Swartz</h3>
                <p>"Pero compartir no es inmoral –es un imperativo moral. Sólo aquellos que están cegados por la codicia se negarían a hacerle una copia a un amigo"</p>
            </div>
        <!--	<div class="4u$ 12u$(medium)">
                <h3>Tim Berners Lee</h3>
                <p>"Aaron muerto. Vagabundos del mundo, hemos perdido a un sabio. Hackers que luchan por lo correcto, hemos perdido a uno. Padres, hemos perdido un hijo. Lloraemos"</p>
            </div> -->
        </div>
    <!-- <hr class="major" /> -->
</section>
{% endblock %}